body {
    background-color:#050505;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
#calculator {
    background-color: #B1B1B1;
    width: 322px;
    height: 500px;
    padding: 6px;
}
#calculator .btn {
    margin: 2px;
    border-radius: 0;
    min-height: 44px;
    outline: none;
    box-shadow: none;
}
#calculator .btn:hover {
    background-color: #BCBCBC;
}
#calculator .btn:active {
    background-color: #ddd6d6;
}
header {
    height: 205px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}
#display {
    color: #000;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 48px;
    font-weight: 600;
}
.btn-number {
    background-color: #EFEFEF;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.btn-operator {
    background-color: #D1D1D1;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.btn-empty{
	background-color: #eaedef;
}

#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	font-size: 25px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 45px;
}